body,
html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

.background-image {
  min-width: 100%;
  min-height: 100%;
  /* height: 100%; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: absolute;
  top: 0;
  left: 0;
  /* height: 40vmin;
  pointer-events: none; */
}

.enter{
  animation: pulse 1s infinite;
  margin: 0;
  max-width: 16%; 
  height:auto;
  position: relative;
  top: 200px;
}


#container {
  position: relative;
  width: 50%;
  height: 100%;
  top: 200px;
  left: 25%;
  right: 25%;
  display: flow-root;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

#dialogbox{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 735px;
}

#frame-image {
  height:100%;
}

/* .App.frame-div {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  
} */

/* Bottom right text */
#text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.refresh-button {
  position: relative;
  width: 20%;
  height: auto;
  cursor: pointer;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}



@keyframes pulse {
	0% {
		transform: scale(0.9);
		
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}



.App-header {
  height: 100%;
  margin: 0;
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-image {
  width: 50%;
  height: auto;
}

.category-text {
  position: relative;
  z-index: 1;
  margin-top: -10px;
}

#category-container{
  height: 30%;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0;
}

.category-box{
  color: white;
  padding-right: 100px;
}

.category-button {
  background: url("refresh.png");
  position: absolute;
  z-index: 1;
  width: 20%;
  height: auto;
}